.container {
   width: 1370px;
   margin: 0 auto;
}

.header {
   line-height: 70px;
   background-color: #000000;
   color: #fff;
   display: flex;
   justify-content: center;
   border: 5 px;
   border-color: aqua;
}
h2 {
   font-size: 30px;
}

.cadre1 {
   height: 1000px;
   width: 80%;
   display: flex;
   flex: 1;
   padding: 20px;
   display: block;
   justify-content: center;
   margin: 0 auto;
}

.cadre1 .wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 50px;
}
.cadre {
   background-color: #fff;
   width: 300px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   margin: 10px;
}
.red {
   border: red solid 9px;
}

.green {
   border: green solid 9px;
}
.yellow {
   border: #faee03 solid 9px;
}
.blue {
   border: blue solid 9px;
}
.pink {
   border: pink solid 9px;
}
p:first-child {
   font-size: 35px;
}

.footer {
   height: 50px;
   width: 100%;
   position: absolute;
   background-color: rgb(65, 64, 64);
   color: #fff;
   font-size: 25px;
   justify-content: center;
}
